body {
    
    background-color: rgb(21, 36, 241);
    color: rgb(196, 216, 19);
    h1 {
    margin: 50px;
    border-style: ridge;
    font-size: 50px;
    text-align: center;
    }


    h2 {
        background-color: yellow;
        color: black;
        font-family: sans-serif;
      }
    footer {
        text-align:center;
        text-decoration: underline;
        word-spacing: 10spx;
    }
    h5 {
        padding-top: 50px;
    }
    select {
        text-align: center;
    }
   #Screensaver {
        float: right;
        width: 550px;
       
   }
    }
